<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.3.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>file:///home/test/ZapWorkshopAppsec2017/</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.shiningpanda.builders.VirtualenvBuilder plugin="shiningpanda@0.23">
      <pythonName>System-CPython-2.7</pythonName>
      <home></home>
      <clear>false</clear>
      <systemSitePackages>false</systemSitePackages>
      <nature>shell</nature>
      <command>pip install -r requirements.txt</command>
      <ignoreExitCode>false</ignoreExitCode>
    </jenkins.plugins.shiningpanda.builders.VirtualenvBuilder>
    <org.jenkinsci.plugins.zap.ZAPBuilder plugin="zap@1.0.8">
      <startZAPFirst>true</startZAPFirst>
      <zaproxy>
        <startZAPFirst>true</startZAPFirst>
        <zapHost>127.0.0.1</zapHost>
        <zapPort>8090</zapPort>
        <evaluatedZapPort>0</evaluatedZapPort>
        <cmdLinesZAP/>
        <jdk>InheritFromJob</jdk>
        <toolUsed>Default</toolUsed>
        <zapHome>ZAPROXY_HOME</zapHome>
        <timeout>10</timeout>
        <autoInstall>false</autoInstall>
        <zapSettingsDir>/home/test/Zap/</zapSettingsDir>
        <autoLoadSession>false</autoLoadSession>
        <loadSession>/var/lib/jenkins/workspace/ZapPlugin/home/test/ZapSessions.session</loadSession>
        <sessionFilename>ZapSessions/</sessionFilename>
        <removeExternalSites>true</removeExternalSites>
        <internalSites>\Qhttp://127.0.0.1:7070/\E.*
http://127.0.0.1:7070/</internalSites>
        <contextName>a</contextName>
        <excludedURL></excludedURL>
        <includedURL>.*</includedURL>
        <authMode>false</authMode>
        <username></username>
        <password></password>
        <loggedInIndicator></loggedInIndicator>
        <authMethod>FORM_BASED</authMethod>
        <loginURL></loginURL>
        <usernameParameter></usernameParameter>
        <passwordParameter></passwordParameter>
        <extraPostData></extraPostData>
        <authScript></authScript>
        <authScriptParams/>
        <targetURL>http:://127.0.0.1:7070/</targetURL>
        <spiderScanURL>false</spiderScanURL>
        <spiderScanRecurse>false</spiderScanRecurse>
        <spiderScanSubtreeOnly>false</spiderScanSubtreeOnly>
        <spiderScanMaxChildrenToCrawl>30</spiderScanMaxChildrenToCrawl>
        <ajaxSpiderURL>false</ajaxSpiderURL>
        <ajaxSpiderInScopeOnly>false</ajaxSpiderInScopeOnly>
        <activeScanURL>true</activeScanURL>
        <activeScanRecurse>true</activeScanRecurse>
        <activeScanPolicy></activeScanPolicy>
        <generateReports>true</generateReports>
        <deleteReports>false</deleteReports>
        <reportFilename>JENKINS_ZAP_VULNERABILITY_REPORT</reportFilename>
        <selectedReportMethod>DEFAULT_REPORT</selectedReportMethod>
        <selectedReportFormats>
          <string>html</string>
        </selectedReportFormats>
        <selectedExportFormats/>
        <exportreportTitle></exportreportTitle>
        <exportreportBy></exportreportBy>
        <exportreportFor></exportreportFor>
        <exportreportScanDate></exportreportScanDate>
        <exportreportReportDate></exportreportReportDate>
        <exportreportScanVersion></exportreportScanVersion>
        <exportreportReportVersion></exportreportReportVersion>
        <exportreportReportDescription></exportreportReportDescription>
        <exportreportAlertHigh>true</exportreportAlertHigh>
        <exportreportAlertMedium>true</exportreportAlertMedium>
        <exportreportAlertLow>true</exportreportAlertLow>
        <exportreportAlertInformational>true</exportreportAlertInformational>
        <exportreportCWEID>true</exportreportCWEID>
        <exportreportWASCID>true</exportreportWASCID>
        <exportreportDescription>true</exportreportDescription>
        <exportreportOtherInfo>true</exportreportOtherInfo>
        <exportreportSolution>true</exportreportSolution>
        <exportreportReference>true</exportreportReference>
        <exportreportRequestHeader>false</exportreportRequestHeader>
        <exportreportResponseHeader>false</exportreportResponseHeader>
        <exportreportRequestBody>false</exportreportRequestBody>
        <exportreportResponseBody>false</exportreportResponseBody>
        <jiraCreate>false</jiraCreate>
        <jiraBaseURL></jiraBaseURL>
        <jiraUsername></jiraUsername>
        <jiraPassword></jiraPassword>
        <jiraProjectKey></jiraProjectKey>
        <jiraAssignee></jiraAssignee>
        <jiraAlertHigh>false</jiraAlertHigh>
        <jiraAlertMedium>false</jiraAlertMedium>
        <jiraAlertLow>false</jiraAlertLow>
        <jiraFilterIssuesByResourceType>false</jiraFilterIssuesByResourceType>
      </zaproxy>
      <zapHost>127.0.0.1</zapHost>
      <zapPort>8090</zapPort>
    </org.jenkinsci.plugins.zap.ZAPBuilder>
    <jenkins.plugins.shiningpanda.builders.PythonBuilder plugin="shiningpanda@0.23">
      <pythonName>System-CPython-2.7</pythonName>
      <nature>shell</nature>
      <command>python -m unittest discover Access_To_Unit_Tests/app/ &quot;*_test.py&quot;</command>
      <ignoreExitCode>false</ignoreExitCode>
    </jenkins.plugins.shiningpanda.builders.PythonBuilder>
    <jenkins.plugins.shiningpanda.builders.PythonBuilder plugin="shiningpanda@0.23">
      <pythonName>System-CPython-2.7</pythonName>
      <nature>shell</nature>
      <command>python Access_To_Unit_Tests/app/app.py</command>
      <ignoreExitCode>false</ignoreExitCode>
    </jenkins.plugins.shiningpanda.builders.PythonBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.xvfb.Xvfb plugin="xvfb@1.1.3">
      <displayName>10</displayName>
      <screen></screen>
      <debug>true</debug>
      <timeout>0</timeout>
      <displayNameOffset>0</displayNameOffset>
      <additionalOptions></additionalOptions>
      <shutdownWithBuild>true</shutdownWithBuild>
      <autoDisplayName>false</autoDisplayName>
      <assignedLabels></assignedLabels>
      <parallelBuild>true</parallelBuild>
    </org.jenkinsci.plugins.xvfb.Xvfb>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.33">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>